p {
	/* Content - Width and Height */
	width: 50%;

	/* Border */
	border: 2px solid blue;

	/* Padding */
	padding-left: 40px;

	/* Margin */
	margin: 10px auto;
}
/* Content - Width and Height */

/* Border */
/* Padding */
/* Margin */
m